<template>
  <div class="sideform">
    <div v-for="[timestamp, event] in newsList" class="event">
      <span class="timestamp">{{ format(new Date(timestamp), 'dd.MM.yy HH:mm') }}</span>
      <span class="header">
        <span class="source"><img :src="Icons[event.source]" :alt="Icons[event.source]"/></span>
        <span class="account">{{ event.account }}</span>
      </span>
      <span class="text" v-html="sanitize(event.text)"></span>
      <span class="image" v-if="event.image"><img :src="event.image" alt=""/></span>
    </div>
  </div>
</template>

<script>
import {mapState} from "vuex";
import Icons from '../assets/icons.json';
import {format} from "date-fns";

export default {
  name: "NewsList",
  data() {
    return {
      Icons,
      format,
    }
  },
  computed: {
    ...mapState(['newsList'])
  },
  methods: {
    sanitize(text) {
      return text
        .replace(/https:\/\/t\.co\/[A-Za-z0-9]+/g, '<a target="_blank" href="$&">$&</a>');
    }
  }
}
</script>

<style scoped lang="scss">
.sideform {
  padding: 8px;
  background-color: var(--background-color);
  color: var(--text-color);

  overflow-y: scroll;
}

.event {
  margin: 10px 0;
  &:first-of-type {
    margin-top: 0;
  }
  &:not(:last-of-type) {
    padding-bottom: 4px;
    border-bottom: 1px dashed var(--divider-color);
  }

  .timestamp {
    display: block;
  }

  .header {
    display: block;
    margin: 2px 0 4px 0;
  }

  .source {
    img {
      vertical-align: middle;
      width: 24px;
      margin-right: 10px;
    }
  }

  .account {
    vertical-align: middle;
  }

  .text {
    text-align: left;
  }

  .image {
    img {
      width: 100%;
    }
  }
}

</style>
