<template>
  <div class="chart-wrapper">
    <trading-vue
      ref="tv"
      :chart-config="config" :overlays="[TNCEventOverlay]"
      :data="chart" :width="chartWidth" :height="chartHeight"
      :color-back="colors.colorBack"
      :color-grid="colors.colorGrid"
      :color-text="colors.colorText"
      @range-changed="onRangeChanged"
      @grid-mousedown="onGridMousedown"
      :title-txt="quote || 'Trading News'"
      :timezone="3"
    ></trading-vue>
  </div>
</template>

<script>
import {DataCube, TradingVue} from "trading-vue-js/src";
import {debounce, throttle} from "lodash";
import {mapMutations, mapState} from "vuex";
import {LIGHT, NEWS_MODE_FIXED, NEWS_MODE_HOVER} from '@/const';
import {loadKlines} from "@/chart-sources/binance";
import TNCEventOverlay from "@/chart/TNCEventOverlay";
import {loadEvents} from "@/chart-sources/parser";
import {printDates} from "@/chart/utils";

export default {
  name: "Chart",
  components: {
    TradingVue,
  },
  data() {
    return {
      chart: new DataCube({
        chart: {
          type: 'Candles',
          data: [],
          settings: {}
        },
        onchart: [
          {
            name: 'Events',
            type: 'TNCEvent',
            data: [],  // SampleEvents,
            settings: {}
          }
        ],
        offchart: [

        ]
      }),
      config: {
        // ZOOM_MODE: 'tl',
        // DEFAULT_LEN: 50,
        // MINIMUM_LEN: 100,
        MIN_ZOOM: 50,
        MAX_ZOOM: 200,
        // SCROLL_WHEEL: 'click',
      },
      chartWidth: 100,
      chartHeight: 100,
      TNCEventOverlay,

      lastKlinesLoad: new Date(),
    }
  },
  computed: {
    ...mapState(['theme', 'quote', 'interval', 'newsMode', 'newsList']),
    ...mapState({accounts: 'accounts'}),
    colors() {
      return this.theme === LIGHT ? {
        colorBack: '#fff',
        colorGrid: '#eee',
        colorText: '#333',
      } : {

      };
    },
  },
  methods: {
    ...mapMutations(['setNewsList', 'setNewsModeFixed', 'hideNews']),
    resize: debounce(function () {
      this.chartWidth = this.$el.clientWidth;
      this.chartHeight = this.$el.clientHeight;
    }, 100),
    async loadChart(startTime=null, endTime=null) {
      const klines = await loadKlines(startTime, endTime);
      this.chart.set('chart.data', klines);
      await this.loadEvents();
    },
    async loadEvents() {
      const klines = this.chart.get_one('chart.data');
      if(klines.length) {
        const events = await loadEvents(klines[0][0], klines[klines.length - 1][0]);
        this.chart.set('Events.data', events);
      }
    },
    onRangeChanged: debounce(async function ([startTime, endTime]) {
      const chartData = this.chart.get_one('chart.data');
      const dataStartTime = chartData[0][0];
      const dataEndTime = chartData[chartData.length - 1][0];
      const eventData = this.chart.get_one('Events.data');
      const eventsStartTime = eventData[0][0];
      const eventsEndTime = eventData[eventData.length - 1][0];
      const rightEdge = new Date();
      rightEdge.setSeconds(rightEdge.getSeconds() - 5); // Чтобы не ddos-ить бинанс при скролле вправо
      printDates('Grid', startTime, endTime);
      printDates('Data', dataStartTime, dataEndTime);
      printDates('Events', eventsStartTime, eventsEndTime);
      printDates('Right', rightEdge);
      if(!dataStartTime || !dataEndTime) return;

      let klines = []; let events = [];
      if(startTime < dataStartTime) {
        klines = await loadKlines(null, dataStartTime);
        events = await loadEvents(klines[0][0], dataStartTime);
      } else if (endTime > dataEndTime && this.lastKlinesLoad <= rightEdge) {
        klines = await loadKlines(dataEndTime, null);
        events = await loadEvents(dataEndTime, klines[klines.length - 1][0]);
      }
      if(klines.length) this.lastKlinesLoad = new Date();
      this.chart.merge('chart.data', klines);
      this.chart.merge('Events.data', events);
    }, 200),
    setNewsUnderCursor(clicked = false) {
      const cursor = this.$refs.tv.getCursor();
      const allEvents = this.chart.get_one('Events.data');
      const curEvents = allEvents.filter(event =>
        event[0] <= cursor.t + this.interval.intvalue * 1000 / 2 &&
        event[0] >= cursor.t - this.interval.intvalue * 1000 / 2
      );
      if(curEvents.length) {
        this.setNewsList(curEvents);
        if (clicked) this.setNewsModeFixed(cursor.t);
      }
    },
    onGridMousedown(gridId, mouseEvent) {
      this.setNewsUnderCursor(true);
    },
    onCursorChanged: throttle(function () {
      if(this.newsMode === NEWS_MODE_HOVER) this.setNewsUnderCursor();
    }, 100),
  },
  async created() {
    this.loadChart();
  },
  mounted() {
    this.resize();
    window.addEventListener('resize', this.resize);
    this.$refs.tv.$refs.chart.$refs.sec[0].$on('cursor-changed', this.onCursorChanged);
  },
  destroyed() {
    window.removeEventListener('resize', this.resize);
    this.$refs.tv.$refs.chart.$refs.sec[0].$off('cursor-changed', this.onCursorChanged);
  },
  watch: {
    quote(newValue, oldValue) {
      console.debug(`On change quote ${newValue}`);
      this.loadChart();
    },
    async interval(newValue, oldValue) {
      console.debug(`On change interval ${newValue.value}`);
      const [t1, t2] = this.$refs.tv.getRange();
      const center = t1 + (t2 - t1) / 2;
      const zoom = (t2 - t1) / oldValue.intvalue;
      // console.debug(new Date(t1), new Date(t2), new Date(center), zoom)
      const new_t1 = center - zoom / 2 * newValue.intvalue;
      const new_t2 = center + zoom / 2 * newValue.intvalue;
      // console.debug(new Date(new_t1), new Date(new_t2))
      await this.loadChart(new_t1, new_t2);
      this.chart.set('chart.tf', this.interval.value);
      this.$refs.tv.setRange(new_t1, new_t2);
      // this.$refs.tv.resetChart();
    },
    accounts: {
      handler: function (newValue, oldValue) {
        this.loadEvents();
      },
      deep: true
    }
  },
}
</script>

<style lang="scss" scoped>
.chart-wrapper {

}
</style>
