<template>
  <div class="about">
    <div class="key-help">
      <span>Клик</span><span>Показать твиты</span>
      <span>Escape</span><span>Скрыть твиты</span>
      <span>Пробел</span><span>Режим показа по наведению</span>
    </div>
    <div class="info">
      <span><a target="_blank" href="https://efprojects.com/">&copy; Egor3f</a></span>
      <span style="text-align: right">
        <a target="_blank" href="https://gitlab.com/egor3f/tnc-mvp">source</a>,
        <a target="_blank" href="https://gitlab.com/egor3f/tnc-mvp-backend">backend</a>
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "About"
}
</script>

<style scoped lang="scss">

.about {
  padding: 6px 8px;
  border-top: 1px solid #aaa;
  font-size: 12px;
}

.key-help {
  display: grid;
  grid-template-columns: minmax(100px, max-content) 1fr;
  grid-row-gap: 10px;
}

.info {
  display: flex;
  flex-flow: row nowrap;

  margin-top: 20px;
  color: var(--secondary-text-color);

  span {
    flex: 1;

    a {
      color: inherit;
      &:hover {
        color: var(--text-color);
      }
    }
  }
}

</style>
