<template>
  <div>
    <multiselect
      :value="interval"
      @input="setInterval($event)"
      :options="options"
      label="name"
      track-by="value"
      placeholder="Интервал"
      selectLabel=""
      deselectLabel=""
      selectedLabel=""
      :searchable="false"
      :allow-empty="false"
      :max-height="600"
    ></multiselect>
  </div>
</template>

<script>
import {INTERVALS} from "@/const";
import {mapMutations, mapState} from "vuex";
import Multiselect from "vue-multiselect";

export default {
  name: "SelectInterval",
  components: {
    Multiselect,
  },
  data() {
    return {
      options: INTERVALS,
    }
  },
  computed: {
    ...mapState(['interval']),
  },
  methods: {
    ...mapMutations(['setInterval']),
  }
}
</script>

<style scoped lang="scss">
@import "~vue-multiselect/dist/vue-multiselect.min.css";
</style>
