<template>
  <div>
    <multiselect
      :value="accounts"
      @input="setAccounts($event)"
      :options="options"
      placeholder="Аккаунты твиттера"
      selectLabel=""
      deselectLabel=""
      selectedLabel=""
      :multiple="true"
      :close-on-select="false"
    ></multiselect>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import {mapMutations, mapState} from "vuex";
import {loadSources} from "@/chart-sources/parser";

export default {
  name: "SelectSource",
  components: {
    Multiselect,
  },
  data() {
    return {
      options: [],
    }
  },
  computed: {
    ...mapState({
      accounts: 'accounts',
    }),
  },
  methods: {
    ...mapMutations(['setAccounts']),
  },
  async created() {
    this.options = await loadSources();
  }
}
</script>

<style scoped lang="scss">
@import "~vue-multiselect/dist/vue-multiselect.min.css";
</style>
