<template>
  <div>
    <multiselect
      :value="quote"
      @input="setQuote($event)"
      :options="options"
      placeholder="Котировка"
      selectLabel=""
      deselectLabel=""
      selectedLabel=""
      :allow-empty="false"
    ></multiselect>
  </div>
</template>

<script>
import {getSymbolsList} from "@/chart-sources/binance";
import {mapMutations, mapState} from "vuex";
import Multiselect from "vue-multiselect";

export default {
  name: "SelectQuote",
  components: {
    Multiselect,
  },
  data() {
    return {
      options: [],
      currentValue: ''
    }
  },
  computed: {
    ...mapState(['quote']),
  },
  methods: {
    ...mapMutations(['setQuote']),
  },
  async created() {
    this.options = await getSymbolsList();
  }
}
</script>

<style scoped lang="scss">
@import "~vue-multiselect/dist/vue-multiselect.min.css";
</style>
