<template>
  <div class="sideform">
    <div class="settings">
      <input type="checkbox" id="darkmode" :checked="theme === DARK" @change="setTheme($event.target.checked ? DARK : LIGHT)"/>
      <label for="darkmode">Темная тема</label><br/><br/>
      <select-quote></select-quote><br/>
      <select-interval></select-interval><br/>
      <select-source></select-source>
    </div>
    <about class="about"></about>
  </div>
</template>

<script>
import SelectQuote from "@/settings/SelectQuote";
import {mapMutations, mapState} from "vuex";
import {DARK, LIGHT} from "@/const";
import SelectInterval from "@/settings/SelectInterval";
import SelectSource from "@/settings/SelectSource";
import About from "@/settings/About";

export default {
  name: "SideForm",
  components: {
    SelectSource,
    SelectInterval,
    SelectQuote,
    About,
  },
  data() {
    return {
      LIGHT, DARK,
    }
  },
  computed: {
    ...mapState(['theme']),
  },
  methods: {
    ...mapMutations(['setTheme'])
  }
}
</script>

<style scoped lang="scss">

.sideform {
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
}

.settings {
  padding: 8px;
}

.about {
  position: absolute;
  left: 0; right: 0; bottom: 0;
}

</style>
