<template>
  <div id="app">
    <TNCChart id="tnc-chart"></TNCChart>
    <NewsList v-if="displayNewsPanel" class="side-form"></NewsList>
    <SideForm v-else class="side-form"></SideForm>
  </div>
</template>

<script>
import SideForm from "@/settings/SideForm";
import TNCChart from "@/chart/TNCChart";
import NewsList from "@/chart/NewsList";
import {mapMutations, mapState} from "vuex";
import {NEWS_MODE_FIXED, NEWS_MODE_HOVER} from "@/const";

export default {
  name: 'App',
  components: {
    NewsList,
    SideForm, TNCChart
  },
  computed: {
    ...mapState(['newsMode', 'newsList']),
    displayNewsPanel() {
      return this.newsList.length && [NEWS_MODE_HOVER, NEWS_MODE_FIXED].includes(this.newsMode);
    }
  },
  methods: {
    ...mapMutations(['toggleNewsMode', 'hideNews']),
    onKeyUp(keyEvent) {
      switch (keyEvent.code) {
        case 'Space':
          this.toggleNewsMode();
          break;
        case 'Escape':
          this.hideNews();
          break;
      }
    },
  },
  created() {
    document.documentElement.setAttribute('theme', this.$store.state.theme);
  },
  mounted() {
    window.addEventListener('keyup', this.onKeyUp);
  },
  destroyed() {
    window.removeEventListener('keyup', this.onKeyUp);
  }
}
</script>

<style>
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
</style>

<style lang="scss" scoped>

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-flow: row nowrap;
}

#tnc-chart {
  flex: 1 1;
  overflow: hidden;
}

.side-form {
  flex: 0 0 350px;
  border-left: 2px solid var(--divider-color);
  box-sizing: border-box;
}
</style>
