:root[theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --secondary-text-color: #777;
  --divider-color: #000;
}

:root[theme="dark"] {
  --background-color: rgb(20, 26, 40);
  --text-color: #e3e3e3;
  --secondary-text-color: #aaa;
  --divider-color: #848484;
}

.multiselect__tags, .multiselect__single, .multiselect__input, .multiselect__option:not(.multiselect__option--highlight) {
  background-color: var(--background-color);
  color: var(--text-color);
}

.multiselect__placeholder, .multiselect__tag {
  font-size: 16px;
}

.multiselect__placeholder {
  padding-top: 0;
  margin-top: -1px;
  margin-bottom: 0;
}

.multiselect__input {
  padding-left: 0;
}

.multiselect__input::placeholder {
  color: #adadad;
}
